.react-calendar { 
    width: 280px;
    background-color: #5A5A5A;
    color: white;
    border-radius: 8px;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
    font-family: Arial, Helvetica, sans-serif;
    line-height: 0.5em;
   }